.App {
    text-align: center;
}

.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.button {
    background-color:green;
    font: inherit;
    border-radius: 20px;
    cursor: pointer; 
}

.button:hover {
        background-color: yellow;
}